src/logs
Package.resolved

.DS_Store
.vscode

doc/doc.pdf
.venv

.build/
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
